.comment-form {
	position: relative;
}

.comment-form-textarea {
	min-height: 200px;
	resize: vertical;
}

.comment-form-button {
	margin-top: 35px;
}

.comment-form-label {
	font-size: 18px;
}

.comment-form-overlay {
	align-items: center;
	background-color: rgba(255, 255, 255, .85);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.comment-form-success {
	color: #7ED321;
	font-size: 64px;
}
